<div
  class="container container-main"
  style="border-bottom: 1px solid gainsboro"
>
  <div class="row">
    <div class="col-lg-1 col-md-1 header-container__logo">
      <a href="/">
        <div class="header-container__logo--icon">
          <img src="/assets/pictures/airbnb-red.png" alt="Airbnb logo" />
        </div>
      </a>
    </div>

    <div class="col-lg-5 col-md-5 header-container__search">
      <i class="fas fa-search"></i>
      <input type="text" />
    </div>

    <% if(user){ %>
    <div class="col-lg-6 col-md-6 header-container__options">
      <div class="header-container__options--option anfitriao">
        <p>Torne-se um anfitrião</p>
      </div>

      <div class="header-container__options--option inscrever">
        <p id="navbar-logout">Sair</p>
      </div>
      <div class="header-container__options--option entrar">
        <p><a href="/profile">
          <img
            src="https://www.w3schools.com/howto/img_avatar.png"
            alt="Avatar"
            class="avatar"
          /></a>
        </p>
      </div>
    </div>
    <%}else{ %>
    <div class="col-lg-6 col-md-6 header-container__options">
      <div class="header-container__options--option anfitriao">
        <p>Torne-se um anfitrião</p>
      </div>
      <div class="header-container__options--option ajuda">
        <p>Ajuda</p>
      </div>
      <div class="header-container__options--option inscrever">
        <p><a href="/" style="text-decoration: none">Inscreva-se</a></p>
      </div>
      <div class="header-container__options--option entrar">
        <p><a href="/" style="text-decoration: none">Entre</a></p>
      </div>
    </div>
    <%} %>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/assets/js/logout.js"></script>
