<!DOCTYPE html>

<html>
  <head>
    <% include partials/header.ejs %>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/homepage/main.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/homepage/header.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/homepage/explore.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/homepage/plus.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/homepage/viagem.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/style/homepage/recomendado.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>iRoomRental</title>
  </head>

  <body>
    <header>
      <div class="landingPage">
        <div class="landingPage__header">
          <div class="landingPage__header--logo">
          </div>

          <% if(user) { %>

          <div class="landingPage__header--info">
            <nav>
              <ul>
                
                <li id="logout">Logout</li>
                <li>
                  <a href="/profile"><img
                    src="https://www.w3schools.com/howto/img_avatar.png"
                    alt="Avatar"
                    class="avatar"
                  /></a>
                </li>
              </ul>
            </nav>

           
          </div>

          <% } else { %>

          <div class="landingPage__header--info">
            <nav>
              <ul>
                <li>host</li>
                <li>help</li>
                <li data-toggle="modal" data-target="#registerModal">
                  sign-up
                </li>
                <li data-toggle="modal" data-target="#loginModal">Entre</li>
              </ul>
            </nav>

            
          </div>

          <% } %>

         
          <!-- Model -->
          <div
            class="modal fade"
            id="registerModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="registerModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="registerModalLabel">
                    sign-up
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="username">username</label>
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        aria-describedby="username"
                        placeholder="username"
                        name="username"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <label for="password">password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        aria-describedby="password"
                        placeholder="password"
                        name="password"
                        required
                      />
                    </div>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                    
                    </button>
                    <button class="btn btn-primary" id="sign-up">
                      Register
                    </button>
                  </form>
                </div>
                <div class="modal-footer"></div>
              </div>
            </div>
          </div>

          
          <div
            class="modal fade"
            id="loginModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="loginModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="loginModalLabel">
                    Log-in
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="username">username</label>
                      <input
                        type="text"
                        class="form-control"
                        id="username-login"
                        aria-describedby="username"
                        placeholder="username"
                        name="username"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <label for="password-login">password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="password-login"
                        aria-describedby="password-login"
                        placeholder="password"
                        name="password"
                        required
                      />
                    </div>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                    
                    </button>
                    <button class="btn btn-primary" id="login">
                      Enter
                    </button>
                  </form>
                </div>
                <div class="modal-footer"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="landingPage__header--form">
          <div class="landingPage__form--title">
            <h1>length of your stay</h1>
          </div>

          <div class="landingPage__form--inputs">
            <form>

              <div class="landingPage__form--checkInOut">
                <div class="landingPage__form--checkIn">
                  <label>Check in</label>
                  <input type="text" value="dd/month/yr" name="indate" />
                </div>

                <div class="landingPage__form--checkOut">
                  <label>Check out</label>
                  <input type="text" value="dd/month/yr" name="outdate" />
                </div>
              </div>

              <div class="landingPage__form--guests">
                <label>Number of people</label>

                <select name="hospedes">
                  <option value="1">1 person</option>
                  <option value="2">2 persons</option>
                  
                </select>
              </div>

              <div class="landingPage__form--pesquisar">
                <button id="send-web">send</button>
              </div>
            </form>
          </div>
        </div>

        <div class="landingPage__header">
          
          
        </div>

        <div class="landingPage__logo dropdown">
          
          <i class="arrow-down"></i>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">help</a>
            <a
              data-toggle="modal"
              data-target="#registerModal"
              class="dropdown-item"
              href="#"
              >sign-up</a
            >
            <a
              data-toggle="modal"
              data-target="#loginModal"
              class="dropdown-item"
              href="#"
              >Enter</a
            >
          </div>
        </div>

        <div class="landingPage__title">
          <h1>Find your room with satisfaction</h1>
        </div>
      </div>
    </header>

    <main>
      <div class="landingPage__header--form1">
        <div class="landingPage__form--inputs">
          <form>
            <div class="landingPage__form--where">
              <label>Where</label>
              <input type="text" placeholder="Place" id="where" />
            </div>

            <div class="landingPage__form--checkInOut">
              <div class="landingPage__form--checkIn">
                <label>CHECK IN</label> <input type="text" value="dd/month/year" />
              </div>
              <div class="landingPage__form--checkOut">
                <label>CHECK OUT</label>
                <input type="text" value="dd/month/year" />
              </div>
            </div>

            <div class="landingPage__form--guest">
              <label>Guest</label>

              <select name="guests">
                <option value="1">1 person</option>
                <option value="2">2 persons</option>
                
              </select>
            </div>

            <div class="landingPage__form--pesquisar">
              <button id="Search">Search</button>
            </div>
          </form>
        </div>
      </div>


      

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/homepage.js"></script>
    <% include partials/footer.ejs %>
  </body>
</html>
